<div class="w-75 m-auto p-2 "content="width=device-width">
    <mat-card-header mat-card-title>Book List</mat-card-header>
    <h2 *ngIf="this.Books">We have {{num}} Books in Database</h2>
    <h1 class="alert" *ngIf="num<=0">
        not have any books here add some book
    </h1>
    <table class="w-100" *ngIf="num>0">
        <thead>
            <tr>
                <th scope="">id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of Books;let i = index">
                <td class="border">{{book._id}}</td>
              <button routerLink="/edit-book/{{book._id}}" mat-stroked-button class="left w-100">
                {{book.name}}
            </button>
                <td class="border">{{book.price}} ฿</td>
                <td class="border">{{book.description}}
                    <!-- <mat-grid-list cols="2" rowHeight="2:0.5">
                        <mat-grid-tile> </mat-grid-tile>
                        <mat-grid-tile>
                            <button mat-icon-button color="accent" routerLink="/edit-book/{{book._id}}" 
                            matTooltip="Edit this Book" aria-label="Button that displays a tooltip when focused or hovered over">
                                <mat-icon>mode_edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="delete(book._id,i)"
                            matTooltip="Delete Book" aria-label="Button that displays a tooltip when focused or hovered over">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-grid-tile>
                    </mat-grid-list> -->
                </td>
            </tr>
        </tbody>
    </table>

</div>